awesome/wp/default.*
nvim/.netrwhist
_linkapp/obj/*
_linkapp/bin/*
vifm/vifminfo.json

config/awesome/awesome
config/fish/fish
config/kitty/kitty
config/nvim/nvim
config/vifm/vifm

home/.git-credentials
config/git/credentials
